@mixin box-title() {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  height: 35px;
  color: #000;
  font-family: "Malgun Gothic", "Apple SD Neo Gothic", "Dotum", "Sans-Serif";

  &:hover {
    color: #3c5fdf;
    text-decoration: underline;
  }
}

@mixin section-title() {
  display: block;
  // padding: 1px 5px 0;
  font-weight: bold;
  height: 22px;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  padding: 2px 4px;
  font-family: "Malgun Gothic", "Apple SD Neo Gothic", "Dotum", "Sans-Serif";

  &:hover,
  &.on {
    background-color: #9cafe9;
    color: #fff;
  }
}

.box {
  $padding-height: 10px;

  &+div {
    margin-top: 40px;
  }

  position: relative;
  height: 346px;
  overflow: hidden;

  h3 {
    padding-top: $padding-height;
    margin-right: 10px;
    float: left;
  }

  &.left-title {
    .title a {
      @include box-title();
    }
  }

  .contents-container {
    position: relative;

    h3 a {
      @include section-title();
    }

    .list-container {
      position: absolute;
      top: 40px;
      width: 100%;

      li {
        margin-right: 23px;
        float: left;

        &:last-child {
          margin-right: 0;
        }
      }

      button {
        $button-height: 50px;

        position: absolute;
        background-color: grey;
        opacity: 0.2;
        transition: all 0.3s;
        width: 36px;
        height: $button-height;
        top: calc(50% - (#{$button-height}/ 2));
        cursor: pointer;

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
        }

        &.invisible {
          opacity: 0;
        }
      }
    }
  }
}

.box-welcome1 {}

.box-welcome-picks {
  .title a p {
    color: #2ac557;
    display: inline-block;
  }
}

.box-normal {
  $padding-height: 10px;

  &+.box-normal {
    margin-top: 40px;
  }

  position: relative;
  height: 346px;
  overflow: hidden;

  .box__title {
    padding-top: $padding-height;
    margin-right: 10px;
    float: left;

    a {
      @include box-title();
    }
  }

  .box__contents {
    // position: relative;
    position: absolute;
    top: 40px;
    width: 100%;
  }

  .left-right {
    overflow: hidden;
    display: flex;
    align-items: center;

    >div {
      float: left;
      width: 50%;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    background: url("/assets/images/bg/bg_blue01.png");
    bottom: 0;
    color: white;

    .layer {
      padding: 15px;

      >div {
        display: inline;
        vertical-align: middle;
      }

      .title {
        a {
          color: white;
        }

        font-size: 14px;
      }

      .author {
        margin-left: 15px;
        font-size: 11px;
      }
    }
  }
}