@import "./colors.scss";

$title-height: 30px;
$box-font-family: "Malgun Gothic", "Apple SD Neo Gothic", "Dotum", "Sans-Serif";

@mixin box-title() {
  font-size: 16px;
  font-weight: bold;
  font-family: $box-font-family;
  color: #000;
  line-height: $title-height;
  padding-left: 8px;

  &:hover {
    color: #3c5fdf;
    text-decoration: underline;
  }
}

@mixin section-title() {
  display: block;
  font-weight: bold;
  font-size: 12px;
  font-family: $box-font-family;
  color: #555;
  padding: 0 10px;
  line-height: $title-height;

  &:hover,
  &.on {
    background-color: #9cafe9;
    color: #fff;
  }
}

.box {
  position: relative;
  height: 340px;
  overflow: hidden;

  // 박스 타이틀
  &__title {
    margin-right: 20px;
    float: left;

    a {
      @include box-title();
    }
  }

  // type
  &.tab {
    .section {
      &__title a {
        border: 1px solid $color-border-main;
        border-right: 0;
        line-height: 29px;

        &:hover,
        &.on {
          position: relative;
          background-color: #fff;
          color: #3c5fdf;
          border-bottom: 1px solid #fff;
          z-index: 1;
        }
      }

      &:last-child {
        .section__title {
          a {
            border-right: 1px solid $color-border-main;
          }
        }
      }
    }
  }

  // 박스 컨텐츠
  &__contents {
    position: relative;

    // 섹션
    .section {
      // :after {
      //   content: "";
      //   display: block;
      //   clear: both;
      // }
      // 각 섹션 타이틀
      &__title {
        a {
          float: left;
          @include section-title();
        }
      }

      &__contents {
        position: absolute;
        top: $title-height;
        width: 100%;

        &.border {
          border: 1px solid $color-border-main;
        }
      }
    }

    .list-container {
      width: 100%;

      &.map {
        ul {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          li {
            border: 1px solid $color-border-main;
            padding: 10px;
            margin: 0;
            width: 25%;
          }
        }
      }

      li {
        margin-right: 23px;
        float: left;

        &:last-child {
          margin-right: 0;
        }
      }

      button {
        $button-height: 50px;

        position: absolute;
        background-color: grey;
        opacity: 0.2;
        transition: all 0.3s;
        width: 36px;
        height: $button-height;
        top: calc(50% - (#{$button-height}/ 2));
        cursor: pointer;

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
        }

        &.invisible {
          opacity: 0;
        }
      }
    }

    .category-list {
      overflow: hidden;
      padding: 20px 40px;
      ul {
        display: flex;
        justify-content: space-between;

        li {
          margin-left: 11px;
          // float: left;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      button {
        $button-height: 50px;

        position: absolute;
        // background-color: grey;
        opacity: 0.2;
        transition: all 0.3s;
        width: 36px;
        height: $button-height;
        top: calc(50% - (#{$button-height}/ 2));
        cursor: pointer;

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
        }

        &.invisible {
          opacity: 0;
        }
      }
    }

    // end .category-list
  }

  &__more {
    position: absolute;
    font-size: 11px;

    top: 5px;
    right: 0;
    a {
      color: gray;
    }
  }

  &.left-title {
    .title a {
      @include box-title();
    }
  }
  &__count_buttons {
    position: absolute;
    display: flex;
    font-size: 11px;

    top: 5px;
    right: 0;
    color: gray;
    a {
    }

    .page-numbers {
      padding: 0 4px;
    }
  }

  &.left-title {
    .title a {
      @include box-title();
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    background: url("/assets/images/bg/bg_blue01.png");
    bottom: 0;
    color: white;

    .layer {
      padding: 15px;

      > div {
        display: inline;
        vertical-align: middle;
      }

      .title {
        a {
          color: white;
        }

        font-size: 14px;
      }

      .author {
        margin-left: 15px;
        font-size: 11px;
      }
    }
  }

  &.box-welcome-picks {
    .box__title a p {
      color: #2ac557;
      display: inline-block;
    }
  }
}

// 박스 끝

.left-right {
  overflow: hidden;
  display: flex;
  align-items: center;

  > div {
    float: left;
    width: 50%;
  }

  .right {
    border-left: 1px solid #8885a0;
  }
}
