@import "./icons.scss";

button.mini {
  border: 1px solid black;
  position: relative;
  cursor: pointer;

  //////////////////////
  // types
  //////////////////////
  &.small {
    padding: 3px 4px 2px;
    font-size: 11px;
  }

  &.verysmall {
    font-size: 11px;
    padding: 1px;
    margin-right: 2px;
  }

  &.full {
    width: 100%;
  }

  &.buy {
    // padding: 14px 20px;
    width: 136px;
    height: 46px;
    margin-left: 6px;
    font-size: 14px;
    font-weight: bold;

    &:first-child {
      margin-left: 0;
    }
  }

  &.rightChevron {
    @include chevron-right-after(#3d3d3d, 12px);
  }

  &.leftChevron {
    @include chevron-left-after(#000, 12px);
  }

  &.add {
    @include add-after(#000, 12px);
  }

  &.remove {
    @include remove-after(#000, 12px);
  }

  &.bannerNext {
    cursor: pointer;
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    @include arrow_sans_right-after(#888, 10px, 0);
  }

  &.bannerPrev {
    cursor: pointer;
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    @include arrow_sans_left-after(#888, 10px);
  }

  &.bannerPrev + .bannerNext {
    border-left: 0;
  }
}
