footer {
    margin-top: 70px;

    .sitemap-area {
        
        $sitemap-area-height: 44px;
        height: $sitemap-area-height;
        background-color: #8B8B8B;

        &__list {
            width: 1000px;
            height: 100%;
            display: flex;
            margin: 0 auto;
            align-items: center;
        }

        li {
            position: relative;
            float: left;
            padding: 0 13px 0 14px;
            text-align: center;
        }
        a {
            cursor: pointer;
            
            line-height: 1.6;
            font-size: 12px;
            text-decoration: none;
            color: #f1f0f0;
            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }

    }
}