header {
    overflow: hidden;
    .header {
        &__logo {
            float: left;
            &__img {
                width: 175px;
                height: 50px;
            }
        }
        &__form {
            width: 500px;
            margin: 0 auto;
        }
        &__banner {
            float: right;

        }
    }

}