$G-path: '/';
$G-path-icons: $G-path+'assets/icons/';

@mixin icon($fileName) {
  $url: $G-path-icons + $fileName;
  -webkit-mask: url($url) no-repeat center;
  mask: url($url) no-repeat center;
}

@mixin menu_main {
  @include icon("menu_main.svg");
}

@mixin menu_x($color) {
  @include icon("menu_x.svg");

  background-color: $color;
  -webkit-mask-size: 30px;
  mask-size: 30px;
}

@mixin add($color) {
  @include icon("add.svg");

  background-color: $color;
  -webkit-mask-size: 30px;
  mask-size: 30px;
}

@mixin add-after($color, $size) {
  &::after {
    content: " ";
    display: inline-block;
    width: $size;
    height: $size;
    @include add($color);
  }
}

@mixin remove($color) {
  @include icon("remove.svg");

  background-color: $color;
  -webkit-mask-size: 30px;
  mask-size: 30px;
}


@mixin remove-after($color, $size) {
  &::after {
    content: " ";
    display: inline-block;
    width: $size;
    height: $size;
    @include remove($color);
  }
}

@mixin chevron-right($color) {
  @include icon("chevron-right.svg");

  background-color: $color;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@mixin arrow_sans_right($color) {
  @include icon("arrow_sans_right.svg");

  background-color: $color;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@mixin arrow_sans_right-after($color, $size, $top) {
  &::after {
    content: " ";
    right: 2px;
    display: inline-block;
    position: absolute;
    width: $size;
    height: $size;
    height: 100%;
    top: $top;

    @include arrow_sans_right($color);
  }
}

@mixin arrow_sans_left-after($color, $size) {
  @include arrow_sans_right-after($color, $size, -1px);
  transform: rotate(180deg);
}

.chevron-right {
  @include chevron-right(#fff);
}

@mixin chevron-right-after($color, $size) {
  &::after {
    content: " ";
    right: 4px;
    display: inline-block;
    position: absolute;
    width: $size;
    height: $size;
    height: 100%;
    top: 0;
    @include chevron-right($color);
  }
}

@mixin chevron-left-after($color, $size) {
  @include chevron-right-after($color, $size);
  transform: rotate(180deg);
}

@mixin menu-x-after($color, $size) {
  &::after {
    content: " ";
    right: 4px;
    display: inline-block;
    position: absolute;
    width: $size;
    height: $size;
    height: 100%;
    top: 0;
    @include menu_x($color);
  }
}