.flex {
  display: flex;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.floatLeft {
  float: left;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}
