.page {
    margin-top: 10px;
    overflow: hidden;
    min-height: 800px;

    .category-page {
        &__category {
            border: 1px solid #9eadca;
            float: left;
            width: 170px;
        }
        &__contents {
    
        }
    }
}