.page {
    margin-top: 10px;
    overflow: hidden;
    min-height: 800px;

    .category-page {
        // display: flex;

        &__category {
            border: 1px solid #9eadca;
            float: left;
            width: 170px;
        }

        &__contents {
            float: right;
            width: 770px;
        }
    }

    .wapper-content {
        margin-top: 10px;

        // 오른쪽 한개
        &.r1 {
            overflow: hidden;

            >div {
                width: 567px;
                float: left;
            }

            >div+div {
                width: 193px;
                float: right;
            }
        }
    }

    &.homepage {
        margin-top: 0;
    }
}