.slider {
    $width: 700px;
    height: 100%;
    overflow: hidden;

    $colors: #a8e6cf, #dcedc1, #ffd3b6, #ffaaa5;

    height: 330px;
    background-color: green;
    position: relative;

    .dots {
        
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;

        .dots-wapper {
            display: inline-block;
        }
        
        ul {
            margin: 0 auto;
        }
    }
    
    .view-container {
        height: 100%;

        ul {
            transition: 0.6s;
            height: 100%;
            display: flex;
        }

        @for $i from 1 through length($colors) {
            li:nth-child(#{$i}) {
                background: nth($colors, $i);
            }
        }

        li {
            width: 700px;
            height: 100%;
        }

    }

    



    ul.bullet {
        $dot-size: 12px;
        $dot-color: gray;
        display: flex;
        li {
            margin: 0 3px;
            content: '';
            font-size: 0;
            width: $dot-size;
            height: $dot-size;
            border: 2px solid $dot-color;
            border-radius: 50%;
            cursor: pointer;

            &:hover,
            &.on {
                background-color: $dot-color;
            }
        }
    }

    button {
        $button-height: 60px;
        position: absolute;
        background-color: grey;
        opacity: 0.2;
        transition: all 0.3s;
        width: 40px;
        height: $button-height;
        top: calc(50% - (60px/2));
        cursor: pointer;

        &.next {
            right: 0;
        }

        &.invisible {
            opacity: 0;
        }
    }
}