#container-top-banner {
    $left: #ffe9eb;
    $right: #cbeffb;

    overflow: hidden;
    display: none;
    position: relative;
    height: 65px;
    line-height: 0;

    .background {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        flex: 1;

        .left {
            background-color: $left;
            width: 100%;
        }
        .right {
            background-color: $right;
            width: 100%;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }

    &.on {
        margin: 0 auto;
        display: block;
    }
    
    .script {
        float: left;
        padding: 15px;
    }
    .close-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        float: right;
    }
}